{% extends 'base.html' %}
{% load static %}

{% block title %} My Account {% endblock %}

{% block extra_css %} 
<link rel="stylesheet" href="{% static 'styles/account.css' %}"> 
{% endblock %}

{% block content %}
<a href="{% url 'checkout' %}"><button class="product-btn">My orders</button></a>
<br>
<a href="{% url 'cart' %}"><button class="product-btn">My cart</button></a>
<div class="profile-container">
  <h1>My Profile</h1>

  <form id="profile-form" method="POST">
    {% csrf_token %}
    {{ form.as_p }}  <!-- Automatically render the form fields -->
    <button type="submit">Save Changes</button> 
  </form>
</div> 

{% endblock %}