{% extends 'base.html' %}
{% load static %}

{% block title %} Hambamart {% endblock %}


{% block extra_css %} <link rel="stylesheet" href="{% static 'styles/add_product.css' %}"> {% endblock %}


{% block content %} 
<div class="add-product-container">
  <h1>Add Product</h1>
    <form class="add-product-form" method="POST" action="{% url 'add_product_view' %}">
        {% csrf_token %}
        {{ form.as_p }}
      <button type="submit" class="add-product-btn">Add Product</button>
    </form>
</div>
{% endblock %}