{% extends 'base.html' %}
{% load static %}

{% block title %} Admin Dashboard {% endblock %}


{% block extra_css %} <link rel="stylesheet" href="{%static '/styles/admin_dashboard.css'%}"> {% endblock %}


{% block content %}<div class="dashboard-container">
    <h1>Welcome to Admin Dashboard</h1>

    <!-- Quick Insight Section -->
    <div class="quick-insight">
        <h2>Quick insight</h2>
        <div class="insight-buttons">
            <button class="insight-btn">Products: {{total_products}}</button>
            <button class="insight-btn">Registered customers: {{total_customers}}</button>
        </div>
    </div>

    <!-- Manage Products Section -->
    <div class="manage-products">
        <h2>Manage products</h2>
        <div class="product-buttons">
            <a href= "{% url 'add_product_view' %}"><button class="product-btn">Add product</button></a>
            <a href= "{% url 'edit_product' %}"><button class="product-btn">Edit product</button></a>
            <a href= "{% url 'deleteproduct_view' %}"><button class="product-btn">Remove product</button></a>
        </div>
    </div>
</div>
{% endblock %}