{% extends 'base.html' %}
{% load static %}

{% block title %} Cart {% endblock %}

{% block extra_css %} 
<link rel="stylesheet" href="{% static 'styles/cart.css' %}"> 
{% endblock %}

{% block content %}
<h2>Your Cart</h2>

{% if cart_products %}
    <table>
        <thead>
            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for item in cart_products %}
            <tr>
                <td>{{ item.Product_ID.Title }}</td>
                <td>{{ item.Quantity }}</td>
                <td>৳{{ item.Product_ID.Price }}</td>
                <td>
                    <a href="{% url 'remove_from_cart' item.Cart_ID.Cart_ID item.Product_ID.Product_ID %}">
                        <button>Remove</button>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>        
        
    </table>
    
    <p><strong>Total Price: </strong>৳{{ total_price }}</p>
    
    <!-- Proceed to Checkout button -->
    <a href="{% url 'checkout' %}">
        <button class="proceed-to-checkout">Proceed to Checkout</button>
    </a>
{% else %}
    <p>Your cart is empty.</p>
{% endif %}
{% endblock %}
