{% extends 'base.html' %}
{% load static %}

{% block title %} Hambamart {% endblock %}


{% block extra_css %} <link rel="stylesheet" href="{% static 'styles/home.css' %}"> {% endblock %}


{% block content %} 
	

<div class="search-results">
    <!-- Loop through all products -->
        <div class="wrapper">
            {% for product in products %}
            <div class="single-card">
                <div class="img-area">
                    <img src="{{ product.product_img }}" alt="{{ product.Title }}">
                    <div class="overlay">
                        <a href="{% url 'add_to_cart' product.Product_ID %}"><button class="add-to-cart">Add to Cart</button></a>
                        <a href="{% url 'product_details' product.Product_ID %}"><button class="view-details">View Details</button></a>
                    </div>
                </div>
                <div class="card-info">
                    <h3 class="product-title">{{ product.Title }}</h3>
                    <p class="price">BDT {{ product.Price }}</p>
                </div>
            </div>
            {% empty %}
            <p>No products found matching your criteria.</p>
        </div>
    {% endfor %}
</div>

{% endblock %}