main .wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 6% auto 0;
}


.single-card{
    position: relative;
    width: 280px;
    height: 350px;
    margin: 15px;
    box-shadow: 0 2px 20px rgba(0,0,0,0.5);
    overflow: hidden;
    background: #f9f9f9;
    border-radius: 15px;
    transition: all 0.8s ease-in-out;
}

.single-card:hover{
    transform: translateY(-10px);
}

.single-card .product-title {
    font-size: 23px;
    font-weight: bold;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 15px;
    color: #333333;
}


main .img-area{
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
}

main .img-area .img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

main .img-area:hover img{
    transform: scale(1.1);
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 14, 255, 0.8);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.single-card:hover .overlay{
    opacity: 1;
}

.add-to-cart,
.view-details{
    background-color: #fff;
    color: #000;
    padding: 10px 15px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-bottom: 10px;
}

.add-to-cart:hover,
.view-details:hover{
    background-color: orangered;
    color: #fff;
    border: none;
}

.card-info{
    padding: 10px;
    text-align: center;
    color: #ddd;
}

.card-info h3{
    margin: 15px 0 10px;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: "Bebas Neue", sans-serif;

}
.card-info .price{
    margin: 0;
    font-size: 27px;
    font-weight: bold;
    color: orangered;
}

main .side-bar {
    float: left;
    width: 25%;
    padding: 20px;
    background-color: #f4f4f4;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    margin-right: 20px;
}

main .search-results {
    float: right;
    width: 70%;
    justify-content: space-around;
}

main .filter-section {
    margin-bottom: 20px;
}

main .filter-btn {
    background-color: orangered;
    color: #fff;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}